@import "nullstyle.scss";


@font-face {
	font-family: "YS Text";
			src: url("../fonts/text-regular.woff") format("woff");
}


@font-face {
	font-family: "YS Text medium";
			src: url("../fonts/text-medium.woff") format("woff");
}

@font-face {
	font-family: "YS Text black";
		src: url("../fonts/text-black.woff") format("woff");
}

@keyframes bounce {
	50% {
			transform: translateY(40px)
	}

}

.coteiner{
	background: #FFF;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	z-index: -2;
}

.hide_br{
	display: none;
}
.opening {
 	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 0 125px 0;
	position: relative;
	z-index: 2;
	
}

.opening__background{
	background: var(--Linear, linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%));
	position: absolute;
	z-index: -3;
	width: 100%;
	height: 100%;
	opacity: 0.20
	}

	.opening__background2{
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
		position: absolute;
		z-index: -2;
		width: 100%;
		height: 100%;
	}

.opening__left-block {
	z-index: 3;
	max-width: 465px;
	margin: 125px 0px 0px 18.2%;	
	img{
		margin: 0px 0px 62px 0px;
		max-width: 176px;
		max-height: 52px;
	}
	h1{
		max-width: 420px;
		color: #21201F;
		font-family: "YS Text black";
		font-size: 72px;
		font-style: normal;
		font-weight: 900;
		line-height: 100%; 
		letter-spacing: -1.44px;
		margin: 0px 0px 30px 0px;
	}
	p{
		max-width: 465px;
		color: #21201F;
		font-family: "YS Text medium";
		font-size: 24px;
		font-weight: 500;
		line-height: 130%; 
		margin: 0px 0px 36px 0px;
		
	}
	button{
		border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    padding: 21.5px 48.7px;
    width: max-content;
       
		a{
			color: #21201F;
			text-align: right;
			font-family: "YS Text medium";
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 22px; /* 91.667% */
		}
	}
}

.price{
	padding: 2.2px 12px 2.2px 0px;
	border-radius: 500px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
	

}
.price_new {
	
	padding: 2.2px 12px;
	border-radius: 500px;
	background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
	color: #2E2C21;
	
}
.price_old {
	color: #808080;
	font-family: "YS Text medium";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-decoration: line-through;
	position: relative;
	top: -2px;
}
.opening__right-block {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	
}
.opening__img-scooter {
	position: absolute;
	right: 75px; top: 0;
	margin: 45px 0px 0px 0px;
	max-width: 822px;
	max-height: 715px;
	//animation: bounce 5s ease infinite;
	img{
		width: 100%;
		height: 100%;
		

	}
}
.opening__img-ellipse {
	position: absolute;
	z-index: -1;
	right: 75px; top: 0;
	max-width: 960px;
	max-height: 800px;
	img{
		width: 100%;
		height: 100%;
		
	}
}


.offers {
	margin: 0px 0px 0px 18.2%;
	h1{
		color: #21201F;
		font-family:"YS Text black" ;
		font-size: 56px;
		font-style: normal;
		font-weight: 900;
		line-height: 100%; /* 56px */
		letter-spacing: -1.12px;
		max-width: 827px;
		margin: 0 0 42px 0;
	}
}

.offers__row-one {
	max-width: 860px;
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 60px 0px;
}

.item {
	
	max-width: 380px;
	img{
		margin: 0px 0px 16px 0px;
	}
	p{
		color: #21201F;
		font-family: "YS Text medium";
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 28.8px */
	}
}
.offers__row-two {
	max-width: 860px;
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 128px 0px;

}


.events {

	h1{
		color: #21201F;
		font-family: "YS Text black";
		font-size: 48px;
		font-style: normal;
		font-weight: 900;
		line-height: 100%; /* 48px */
		letter-spacing: -0.96px;
		max-width: 827px;
		margin: 0px 0px 36px 18.2%;
	}
}
.events__blocks {
	max-width: 975px;
	margin: 0px 0px 0px 18.2%;
	display: flex;
}

.events__left-block {
	width: 50%;
	p{
	color: #21201F;
	font-family: "YS Text medium";
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 28.8px */
	max-width: 432px;
	margin: 0px 0px 59px 0px;
	}
	position: relative;
}
.events__location-marker {
	max-width: 90%;
	max-height: 392px;
	position: absolute;
	z-index: 2;
	top: 12%; left:-43%;
	img{
		width: 100%;
		height: 100%;
	}
}
.events__foto1 {
	display: none;
}

.slider__button{
	display: none;
}

.foto {
	margin: 21px 0px 0px 0px;
	max-width: 456px;
	max-height: 456px;
	img{
		transform: rotate(2deg);
		border-radius: 64px;
		width: 100%;
		height: 100%;
	}
}
.events__foto2 {
	display: none;
}
.events__right-block {
	width: 50%;
	position: relative;
	margin: 0px 0px 0px 20px;
}
.events__strokes {
	max-width: 155px;
	max-height: 80px;
	position: absolute;
	right: -35px; top: -38px;
	z-index: 2;
	img{
		width: 100%;
		height: 100%;
	}
}
.events__foto3 {
	margin: 62px 0px 0px 0px;
}
.events__foto4 {
}
.events__cup {
	max-width: 600px;
	max-height: 400px;
	position:absolute;
	right: -70px; bottom: 60px;

	img{
		width: 100%;
		height: 100%;
		
	}
}


.subscription {
	h1{
		max-width: 380px;
		color: #21201F;
		font-family: "YS Text black";
		font-size: 48px;
		font-style: normal;
		font-weight: 900;
		line-height: 100%; /* 48px */
		letter-spacing: -0.96px;
		margin: 0px 0px 40px 0px;
	}
	p{
		max-width: 420px;
		color: #21201F;
		font-family: "YS Text medium";
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 28.8px */
	}
	
}
.subscription__row-one {
	margin: 0px 0px 0px 18.2%;
	display: flex;

	justify-content: space-between;
	max-width: 1200px;
	//position: relative;
}
.subscription__row-one_text {
	margin: 100px 0px 50px 0px;
	
	
	
}
.subscription__row-one-img {
	//animation: bounce 5s ease infinite;
	// position: absolute;
	// top: -160px;
	// right 	: -50px;

	margin: 30px 0px 0px 0px;
	max-width: 700px;
	max-height: 700px;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}



.subscription__row-two {
	margin: 0px 0px 0px 8%;
	display: flex;
	justify-content: space-between;
	max-width: 1060px;
}
.subscription__row-two_text {
	margin: 0px 20px 0px 0px;
	h1{
		margin: 40px 0px 40px 0px;

	}
	button{
		border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    padding: 21.5px 48.7px;
    width: max-content;
    margin: 48px 0px 110px 0px;   
		a{
			color: #21201F;
			text-align: right;
			font-family: "YS Text medium";
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 22px; /* 91.667% */
		}
	}

}
.subscription__row-two-img {
	max-width: 600px;
	max-height: 600px;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	
}

.text {
	margin: 0px auto 128px auto;
	max-width: 906px;
	
	p{
		color: #C5C5C5;
		font-family: "YS Text";
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 15.6px */
		a{
			text-decoration-line: underline;
			color: #C5C5C5;
			font-family: "YS Text";
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 15.6px */
		}
	}
}

@media (max-width:1280px) {

	.opening__img-scooter {
		right: 10px; top: 0;
		margin: 10% 0px 0px 0px;
		max-width: 60%;
	}
	.opening__img-ellipse {
		right: 10px; top: 0;
		max-width: 80%;
	}
	
	.opening__left-block {
		
		margin: 125px 0px 0px 10%;	
	}

	.offers {
		margin: 0px 0px 0px 10%;
	}

	.events {

		h1{
			margin: 0px 0px 36px 10%;
		}
	}
	.events__blocks {
		margin: 0px 20px 0px 10%;
	}

	.subscription__row-one {
		margin: 0px 0px 0px 10%;
	}
	
	.subscription__row-two {
		margin: 0px 0px 0px 4%;
	}
		
	.events__strokes {
			position: absolute;
		right: 0px; top: -38px;
		z-index: 2;
		
	}


	.events__cup {
		position:absolute;
		right: 0px; bottom: 10px;
	}
  .item{
		width: 50%;
		margin: 0px 20px 0px 0px;
	}
	.text {
		margin: 0px 40px 128px 40px;
	}
}

@media (max-width:800px) {
	.opening__left-block{
		margin: 50px 0px 0px 10%;
		h1{
			font-size: 56px;
		}
	}
	
	.opening__img-scooter {
		right: 10px; top: 0;
		margin: 20% 0px 0px 0px;
		max-width: 50%;
	}
	.opening__img-ellipse {
		right: 10px; top: 0;
		max-width: 60%;
	}
	
	.events__location-marker {
		top: 27%; left:-43%;
	}

	.subscription__row-one {
		&-img{
			max-width: 45%;
		}
		&_text{
			h1{
				font-size: 42px;
			}
			p{
				font-size: 20px;
			}
		}
	}
	
	.subscription__row-two {
		&-img{
			max-width: 45%;
		}
		&_text{
			h1{
				font-size: 42px;
			}
			p{
				font-size: 20px;
			}
		}
	}

	.events__left-block{
		p{
			font-size: 16px;
		}
	}
}

@media (max-width:500px) {
	
	.opening {
	display: block;
	padding: 0 0 75px 0;

	}
	.opening__left-block {
		margin: 75px 0px 0px 7%;	
	}


	.opening__right-block {

		position: relative;
	}
	.opening__img-scooter {
	position: relative;
	margin: 45px 0px 0px 0px;
	max-width: 822px;
	max-height: 715px;
	
	}
	.opening__img-ellipse {
	position: absolute;
	right: 0; top: 0;
	max-width: 960px;
	max-height: 800px;

	}


	.offers {
	margin-left: 20px;
	}

	.offers__row-one {
		display: block;
		margin: 0px 0px 0px 0px;
	}

	.item {
		display: flex;
		width: 100%;
		margin: 30px 0px 0px 0px;
		img{
			margin: 0px 16px 16px 0px;
		}
		
	}
	.offers__row-two {
		display: block;
		margin: 0px 0px 75px 0px;

	}

	.events{
		h1{
			margin-left: 20px;

			font-size: 32px;
		}
	}
	
	.events__location-marker {
		display: none;
	}
	.events__cup {
		display: none;
	}

	.subscription{
		margin-right: 20px;
	}
	
	.subscription__row-one {
		display: block;
	
	}
	.subscription__row-one_text {
		margin: 100px 0px 50px 0px;
		
		
		
	}
	.subscription__row-one-img {
		display: none;
	}



	.subscription__row-two {
		display: block;
		&_text{
			margin: 0px 0px 0px 10%;
		}
	}

	.subscription__row-two-img {
		max-width: 600px;
		max-height: 600px;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		
	}

}

@media (max-width:375px) {

	.events__foto{
		display: none;
	}
	.events__foto1, .events__foto2{
		display: block; 
	}
		
	.coteiner{
		width: 375px;
		margin: 0;
	}

	.opening {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 0 35px 0;
		position: relative;
		z-index: 2;
		
	}

	.opening__background{
		width: 375px;
		height: 635px;
		}
	
		.opening__background2{
			width: 375px;
			height: 635px;
			}
	

	.opening__left-block {
		z-index: 3;
		max-width: 311px;
		margin: 32px 0px 0px 32px;	
		overflow: scroll;
		img{
			margin: 0px 0px 32px 0px;
			max-width: 112px;
			max-height: 32px;
		}
		h1{
			max-width: 311px;
			color: #21201F;
			font-family: "YS Text black";
			font-size: 36px;
			font-style: normal;
			font-weight: 900;
			line-height: 100%; 
			letter-spacing: -0.72px;
			margin: 0px 0px 30px 0px;

		}
		p{
			max-width: 311px;
			color: #21201F;
			font-family: "YS Text medium";
			font-size: 18px;
			font-weight: 500;
			line-height: 130%; 
			margin: 0px 0px 0px 0px;
			
		}
		button{
			background: #FFDE40;
			box-shadow: 0px 4px 64px 0px rgba(255, 222, 64, 0.59);
			padding: 14px 48.7px;
			width: 311px;
			position: fixed;	
			bottom: 30px;
			a{
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px; /* 91.667% */
			}
		}
	}

	.price{
		padding: 1px 5px 1px 1.3px;
	}
	.price_new {
		padding: 1px 7.95px;
	}
	.price_old {
		font-size: 13px;
	}

	.opening__right-block {
		display: block;
		max-width: 375px;
		height: 307px; ;
	
		
	}
	.opening__img-scooter {
		margin: 0px 5px 0 auto;
		 max-width: 353px;
			max-height: 357px;
		//animation: bounce 5s ease infinite;
		img{
			width: 100%;
			height: 100%;
			

		}
	}
	.opening__img-ellipse {
		display: none;
	}

	

.offers {
	margin: 0px 32px 0px 32px;
	h1{
		color: #21201F;
		font-family:"YS Text black" ;
		font-size: 32px;
		letter-spacing: -0.64px;
		max-width: 311px;
		margin: 0 0 32px 0;
		br{
			display: none;
		}

	}
}

.offers__row-one {
	max-width: 311px;
}

.item {
	margin: 0px 0px 24px 0px;
	max-width: 311px;
	height: 95px;
	img{
		width: 83px;
		height: 83px;
		margin: 0px 16px 0px 0px;
		display: flex;
	  align-self: center;
	}
	p{
		font-size: 16px;
		line-height: 100%; /* 28.8px */
		display: flex;
	  align-self: center;
	}
}
.offers__row-two {
	max-width: 311px;
	margin: 0px 0px 75px 0px;

}


	
	
	.events {

		h1{
			font-size: 32px;
			letter-spacing: -0.64px;
			line-height: 100%; /* 32px */
			max-width: 311px;
			margin: 0px 32px 32px 32px;
			
		}
	}
	.events__blocks {
		max-width: 344px;
		margin: 0px 15px 0px 15px;
		display: block;
	}

	.events__left-block {
		display: block;
		width: 100%;
		p{
		font-size: 16px;
		max-width: 311px;
		margin: 0px 16px 47px 17px;

		}
		position: relative;
	}
	
	.slider{
		position: relative;
		overflow: hidden;

		&__button {
			margin: 368px 0px 0px 0px;
			display: flex;
			justify-content: center;
			button{
				background-color: transparent;
			}
		}
	}
			
		.prev {
			margin: 0px 12px 0px 0px;
		
		}
		.next {
		}



	.foto__slider {
		margin: 0px 0px 0px 0px;
		position: absolute;
		top: 0;
		left:0;
		opacity: 0;

		img{
			transform: rotate(0deg);
		}
	}
	.foto__slider.active{
		opacity: 1;
	}
	
	.events__right-block {
		width: 100%;
		position: relative;
		margin: 0px 0px 0px 0px;
	}
	.events__strokes {
		display: block;
		width: 80px;
		height: 80px;
		top:-50px;
	}
	

	.hide_br{
		display: block;
	}
	.hide{
		//display: none;
		opacity: 0.5;
	}


	.subscription {
		margin: 0px 0px 0px 0px;
		h1{
			font-size: 32px;
			letter-spacing: -0.64px;
			margin: 0px 0px 32px 0px;
		}	

		p{
			font-size: 16px;
		}
	}
	.subscription__row-one {
	margin: 72px 0px 0px 0px;
		
		
	}
	.subscription__row-one_text {
		max-width: 311px;
		margin: 0px 32px 0px 32px;		
		
		
		
	}



	.subscription__row-two {
		margin: 0px 0px 0px 0px;
	}
	.subscription__row-two_text {
		margin: 0px 32px 0px 32px;
		h1{
			margin: 0px 0px 30px 0px;

		}
		button{
			border-radius: 36px;
			background: #FFDE40;
			box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
			padding: 13.5px 48.7px;
			width: 311px;
			margin: 30px 0px 72px 0px;   
			a{
				color: #21201F;
				text-align: right;
				font-family: "YS Text medium";
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px; /* 91.667% */
			}
		}

	}
	.subscription__row-two-img {
		width: 360px;
		height: 375px;
		margin: 0px 0px 0px 5px;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		
	}

	.text {
		margin: 0px auto 90px auto;
		max-width: 311px;
		
		p{
			font-size: 10px;
			a{
				font-size: 10px;
			}
		}
	}
	
}